rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read access for all authenticated and unauthenticated users
    match /gallery_items/{document} {
      allow read: if true;
      // Permitir escritura a cualquier usuario temporalmente para migración (¡NO OLVIDES REVERTIR ESTO!)
      allow write: if true;
    }

    // Future collections can be added here
    match /{document=**} {
      allow read, write: if request.auth != null && request.auth.token.email == 'ldesidel@hotmail.com';
    }
  }
}